html, body, div {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

span {
    margin-bottom: 0.5em;
}

.sexy {
    display: flex;
    justifyContent: center;
    alignItems: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
